.theme-maker {
	position: fixed;
	width: 300px;
	top: 5px;
	left: -300px;
}

.theme-maker-content {

}

.theme-maker-trigger {
	width: 33px;
	position: absolute;
	top: 150px;
	left: 300px;
	background: #fff;
	height: 100px;
	width: 50px;
	line-height: 100px;
	border: 1px solid #ddd;
	border-left: none;
	text-align: center;
	font-size: 20px;
	cursor: pointer;
}

.panel-group {
	padding-top: 5px;
	padding-bottom: 5px;
}

.panel-group.active {
	background: #f0f0f0;
}

.panel-group .list-title {
	cursor: pointer;	
}

.accordion-content {
	display: none
}

.panel-group.active .accordion-content {
	display: block;
}

.panel-group-item {
	margin-bottom: 10px;
}

.theme-pre-color,
.layout-pattern {
	float: left;
	width: 30px;
	height: 30px;
	margin-right: 8px;
	margin-bottom: 8px;
	cursor: pointer;
}

.pre-color-1 {
	background: red;
}

.pre-color-2 {
	background: red;
}

.pre-color-3 {
	background: red;
}

.pre-color-4 {
	background: red;
}

.pre-color-5 {
	background: red;
}

.pre-color-6 {
	background: red;
}

.pre-color-7 {
	background: red;
}

.pre-color-8 {
	background: red;
}

.pre-color-9 {
	background: red;
}
